{% extends 'base.html'%}

{% block title %} Register {% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5 shadow-lg">
        <h2 class="text-center mb-4">Register</h2>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token%}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">
              <ul class="messages">
    
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                
            </ul>
            </div>
            {% endfor %}

            {% endif %}
            <div class="mb-3">
                <label for="name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="name" name="firstname" placeholder="Enter your First Name">
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="name" name="lastname" placeholder="Enter your Last Name">
              </div>
              <div class="col-auto">
                <label class="form-label" for="autoSizingInputGroup">Username</label>
                <div class="input-group">
                  <div class="input-group-text">@</div>
                  <input type="text" class="form-control" id="autoSizingInputGroup" name="username" placeholder="Username">
                </div>
          <div class="mb-3">
            <label for="inputPassword4" class="form-label">Password</label>
            <input name="password" id="inputPassword4" type="password" cols="30" rows="10" class="form-control"></input>
          </div>
          <div>
            <p>Already have an account <a class="btn btn-success" href="/login">Login</a></p>
          </div>
         
          <div class="text-center p-3">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
      <br><hr>
      <div>
      </div>
    </div>
  </div>

{% endblock %}